<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Live Streaming Demonstration</title>
    <style>
         .intro{
          background-image: url('static\images.jpg');
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: 100% 100%;
        }
        </style>
</head>
<body>
<div class="container-fluid">
    <nav class="w-full bg-gray-700 shadow bg-success">
        <div class="justify-between px-4 mx-auto lg:max-w-7xl md:items-center md:flex md:px-8">
            <div>
                <div class="flex items-center justify-between py-3 text-white md:py-5 md:block">
                    <a href="javascript:void(0)">
                        <h2 class="text-xs font-bold lg:text-2xl text-white">VELAMMAL ENGINEERING COLLEGE</h2>
                    </a>
                    <!--<div class="md:hidden">
                        <button class="p-2 text-gray-100 rounded-md outline-none focus:border-gray-400 focus:border">
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16"></path>
                            </svg>
                        </button>
                    </div>-->
                </div>
            </div>
            
        </div>
    </nav>
    <div class="w-full h-132 mt-0 fit-content top-0 flex justify-center items-center mt-3 intro" style="width: 100%;height:250pxpx;border:0.5px solid black;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);"><div class="flex flex-col justify-center items-center" style="margin-top:25px"><h1 class=" text-center lg:text-6xl text-4xl text-[#fffffe] font-bold drop-shadow-lg my-8">OZMENTA<span class="text-amber-500"> 2K22 </span> HACKATHON</h1>
        <br>
        <h1 class=" text-center lg:text-6xl text-4xl text-[#fffffe] font-bold drop-shadow-lg my-8">AUTOMATIC<span class="text-amber-500"> NUMBER </span> <span class="text-amber-500"> PLATE </span> RECOGNITION</h1>
    </div></div></div>

    </div>
    <div class="row">
        <div class="col-lg-8  offset-lg-2">
            <h3 class="mt-5">Live Streaming</h3>
            <img src="{{ url_for('video_feed') }}" width="100%">
            <br>
            
        </div>
    </div>
</div>
</body>
</html>